<div id="loginPage" class="container">
    <div class="col-md-6">
        <h1>FaTeLo</h1>
        <hr style="width: 75%; margin-left: 0;">
        <h4>Die App zum Erfassen, Ordnen und<br> Abarbeiten von ToDos</h4>
    </div>
    <div class="col-md-6">
        <mat-card>
            <form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
                <mat-form-field class="example-full-width">
                    <mat-label>Benutzername</mat-label>
                    <input matInput>
                </mat-form-field><br><br>

                <mat-form-field class="example-full-width">
                    <mat-label>Passwort</mat-label>
                    <input matInput type="password">
                </mat-form-field><br>
                <a href="/forgottenPassword">Passwort vergessen?</a>
                <button type="submit" id="submit" mat-raised-button color="primary">Login</button>
            </form>
        </mat-card>
    </div>
</div>
<footer>
    <img src="../../assets/Footer.png" alt="Footer Grafik">
</footer>