div#loginPage {
    position: absolute;
    top: 39%;
    left: 21.5%;
    height: 23%;
}
div#loginPage div {
    display: inline-block;
    vertical-align: middle;
}
button#submit {
    position: absolute;
    right: 2.3em;
    bottom: 1.5em;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 0;
}
footer img {
    width: 100.15%;
    margin-left: -2pt;
    margin-bottom: 0;
}