div.container {
    position: absolute;
    top: 25%;
    left: 12%;
    height: 23%;
}
mat-card {
    padding: 2em;
}
mat-card-content > div:first-child {
    border-top: .5pt solid rgba(128, 128, 128, 0.5);
    padding-top: 1em;
}
mat-card-content div {
    margin-left: 4em;
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: .5pt solid rgba(128, 128, 128, 0.5);
    width: 40%;
}
button {
    position: absolute;
    right: 2em;
    bottom: 1.5em;
}
a {
    text-decoration: none;
}