<div class="container col-md-9">
    <mat-card>
        <mat-card-title>
            <h2>Passwort vergessen? - Kein Problem!</h2>
        </mat-card-title>
        <mat-card-subtitle>
            Da sich FaTeLo noch in einem sehr frühen Stadium der Entwicklung befindet, wurde nachfolgender Benutzer angelegt,<br> um sämtliche Features von FaTeLo zu testen:
        </mat-card-subtitle>
        <mat-card-content>
            <div>
                <span>Username: Hierhammer</span><br>
                <span>Passwort: absolut</span>
            </div>
            <div>
                <span>Username: Haase</span><br>
                <span>Passwort: streng</span>
            </div>
            <div>
                <span>Username: Gommlich</span><br>
                <span>Passwort: geheim</span>
            </div>
        </mat-card-content>
        <button mat-button>
            <a href="/login">&lt; Zurück zu Login</a>
        </button>
    </mat-card>
</div>
